<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of owners">
      <td>{{ owner.dni }}</td>
      <td>{{ owner.name }}</td>
      <td>{{ owner.lastname }}</td>
      <td>{{ owner.address }}</td>
      <td>{{ owner.telephone }}</td>
      <td>{{ owner.city }}</td>
      <td>
        <a
          class="btn btn-primary btn-sm dis"
          routerLink="/formowner/{{ owner.id }}"
          >Editar</a
        >
        <a
          class="btn btn-primary btn-sm btn-danger dis"
          (click)="delete(owner.id)"
          >Eliminar</a
        >
      </td>
    </tr>
  </tbody>
</table>
<div class="btncreate">
  <button class="btn btn-success" routerLink="/formowner/">
    Registrar Propietario
  </button>
</div>
