<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{ driver.dni }}</td>
      <td>{{ driver.name }}</td>
      <td>{{ driver.lastname }}</td>
      <td>{{ driver.address }}</td>
      <td>{{ driver.telephone }}</td>
      <td>{{ driver.city }}</td>
      <td>
        <a
          class="btn btn-primary btn-sm dis"
          routerLink="/formdriver/{{ driver.id }}"
          >Editar</a
        >
        <a
          class="btn btn-primary btn-sm btn-danger dis"
          (click)="delete(driver.id)"
          >Eliminar</a
        >
      </td>
    </tr>
  </tbody>
</table>
<div class="btncreate">
  <button class="btn btn-success" routerLink="/formdriver/">
    Registrar Conductor
  </button>
</div>
